<!DOCTYPE html>
{% load static  %}
{% load cache %}
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{% static 'scripts/jquery/jquery-1.7.1.js' %}"></script>
<link href="{% static 'style/authority/basic_layout.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'style/authority/common_style.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'scripts/authority/commonAll.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/fancybox/jquery.fancybox-1.3.4.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style/authority/jquery.fancybox-1.3.4.css' %}" media="screen"></link>
<script type="text/javascript" src="{% static 'scripts/artDialog/artDialog.js' %}"></script>
<title>百智招聘</title>
<script type="text/javascript">

</script>
<style>
</style>
</head>
<body>
	<form id="submitForm" name="submitForm" action="" method="post">
		<input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
		<input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
		<div id="container">
			<div class="ui_content" id="ui_content">
				<div class="ui_text_indent">
					<div id="box_border">
						<div id="box_top">搜索</div>
						<div id="box_center">
							<select name="fangyuanEntity.fyXqCode" id="fyXq" class="ui_select01" >
                                <option value=""
                                >--请选择--</option>
                                <option value="城市">城市</option>
                                <option value="职位">职位</option>
                            </select>
							<input type="text" id="fyZldz" name="fangyuanEntity.fyZldz" class="ui_input_txt02" />
                            <div id="suggest" style="display:none;border:1px solid gray;width:200px">
                                <table style="width:200px">
                                    <tbody id="vague">

                                    </tbody>
                                </table>
                            </div>
							<input  type="button" value="查询" class="ui_input_btn01" onclick="search();" />


                            <a  value="数据分析：柱状图",name="get_bar" href="{% url 'recruit:column' %}">柱状分析</a>
                            <a  value="数据分析：饼图",name="get_pie" href="{% url 'recruit:pie' %}">饼状分析</a>
                            <a  value="数据分析：地图",name="get_map" href="{% url 'recruit:map' %}">地图分析</a>
                            <a  value="数据分析：地图",name="get_map" href="{% url 'recruit:line' %}">折线分析</a>
						</div>
					</div>
				</div>
			</div>

			<div class="ui_content">
				<div class="ui_tb">
					<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<tr>
							<th>职位</th>
							<th>公司</th>
							<th>月薪</th>
							<th>经验要求</th>
							<th>学历要求</th>
                            <th>招聘人数</th>
							<th>公司地点</th>
						</tr>
                            {% cache 1 'cache_job' %}
								{% for i in page.object_list %}
                                <tr>
                                    <td>{{ i.job_name }}</td>
                                    <td>{{ i.company }}</td>
                                    <td>{{ i.salary }}</td>
                                    <td>{{ i.experience_time }}</td>
                                    <td>{{ i.education }}</td>
                                    <td>{{ i.request_num }}</td>
                                    <td>{{ i.address }}</td>
                                </tr>
                                {% endfor %}
                            {% endcache %}

					</table>
				</div>

                <div class="ui_tb_h30">
					<div class="ui_flt" name="page_num"   style="height: 30px; line-height: 30px;" name="name_page">
						共有
						<span class="ui_txt_bold04"> {{ page.paginator.page_range | length }}</span>
						条记录，当前第
						<span class="ui_txt_bold04">{{ num }}
						/
						{{ page.paginator.page_range | length }}</span>
						页
					</div>

                    <div class="ui_frt">
						<!--    如果是第一页，则只显示下一页、尾页 -->
                         <a type="button" href="{% url 'recruit:page' %}?city={{ page.0.city }}&category={{ page.0.job_category }}&num=1" class="ui_input_btn01" />首页</a>
                        {% if page.has_previous %}
                        <a type="button"  class="ui_input_btn01" href="{% url 'recruit:page' %}?city={{ page.0.city }}&category={{ page.0.job_category }}&num={{ page.previous_page_number }}" />上一页</a>
                        {% endif %}
                        {% if page.has_next %}
                        <a type="button"  class="ui_input_btn01"
                           onclick="jumpNormalPage(2);" href="{% url 'recruit:page' %}?city={{ page.0.city }}&category={{ page.0.job_category }}&num={{ page.next_page_number }}"/>下一页
                        <!--     如果是最后一页，则只显示首页、上一页 -->
                        {% endif %}
                        <a type="button"  class="ui_input_btn01"
                           onclick="jumpNormalPage(9);"  href="{% url 'recruit:page' %}?city={{ page.0.city }}&category={{ page.0.job_category }}&num={{ page.paginator.page_range | length }}"/>尾页</a>
                    </div>
				</div>
			</div>
		</div>
	</form>

    <script src="{% static 'scripts/jquery-1.8.3.min.js' %}"></script>
    <script>

{# ========模糊查询================================#}
{#        var data=["北京","上海","广州","深圳"];#}
{#        var value2=['Python Web','爬虫','大数据','AI'];#}
{#        $("#fyZldz").keyup(function(e){#}
{#            $("#vague").empty();#}
{#            var txt=$("#fyZldz").val();#}
{##}
{#            if(txt.length>0){#}
{#                for(var i=0;i<data.length;i++){#}
{#                    if(data[i].indexOf(txt)>=0){#}
{#                        console.log(data[i]);#}
{#                        $("#vague").append("<tr>"+#}
{#                                                "<td>"+data[i]+"</td>"+#}
{#                                           "</tr>"#}
{#                        );#}
{#                    }#}
{#                }#}
{#                $("#suggest").slideDown(200);#}
{#            }else{#}
{##}
{#                $("#suggest").hide();#}
{#            }#}
{##}
{##}
{#            $("#vague").on("mouseover","tr",function(){#}
{#                $(this).css("background-color","#abcdef");#}
{#            });#}
{#            $("#vague").on("mouseout","tr",function(){#}
{#                $(this).css("background-color","#ffffff");#}
{#            });#}
{##}
{#            $("#vague").on("click","tr",function(){#}
{##}
{#                var msg=$(this).text();#}
{#                $("#fyZldz").val(msg);#}
{##}
{#                $("#suggest").hide();#}
{#            });#}
{#        });#}
        function search() {
            console.log('helloddddddddd');
            if($('#fyXq').val()=='城市'){
                console.log('hello');
                location.href="{% url 'recruit:page' %}?city="+$('#fyZldz').val()+"&num=1";
            }else{
                location.href="{% url 'recruit:page' %}?category="+$('#fyZldz').val()+"&num=1";
            }

        }


    </script>

</body>
</html>
